<!doctype html>
<html>
<head>
    <#include "/common/header.html" />
    <title>${appName!} - ${appDesc!}</title>
    <style type="text/css">
    	#add-car label {
   		    line-height: 21px;
    		margin-bottom: 0;
    		padding-top: 0;
    		padding-bottom: 0;
    	}
    	
    	#add-car input,
    	#add-car select {
    		background-color: #fff;
    		border: none;
    		width: 100%;
    	}
    	
    	#add-car button {
    		font-weight: bold;
    		color: #000;
    		text-align: center;
    	}
    	
    	.tips {
    		line-height: 1.8em;
    	}
    </style>
</head>

<body>
	<#include "${base!}/common/pageHeader.html" />
	<#include "${base!}/common/alert.html" />
	
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">添加车辆</h4>
			<p class="list-group-item-text tips">
				<b>车架号：</b>车辆唯一的识别号码，一般可在发动机舱、仪表盘、风挡玻璃、车门锁扣、行驶证、车主手册、保险单等处查看
			</p>
			<p class="list-group-item-text tips">
				<b>车辆及车牌照片：</b>在车辆前部或后部拍摄，能看清完整车辆及号牌即可
			</p>
			<p class="list-group-item-text tips">
				<b>车架号证明照片：</b>在任意印有或刻有车架号的位置拍摄
			</p>
		</li>
	</ul>
	
	<form id="add-car">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="plate_num"><span class="text-require">*</span>车牌号</label>
					<div class="col-xs-8">
						<input type="text" placeholder="车牌号" id="plate_num" name="plate_num" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="identification_num"><span class="text-require">*</span>车架号</label>
					<div class="col-xs-8">
						<input type="text" placeholder="车架号（车辆识别号码）" id="identification_num" name="identification_num" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="brand"><span class="text-require">*</span>品牌型号</label>
					<div class="col-xs-8">
						<input type="text" placeholder="品牌型号" id="brand" name="brand" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="type"><span class="text-require">*</span>车型</label>
					<div class="col-xs-8">
						<input type="text" placeholder="车型" id="type" name="type" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="color"><span class="text-require">*</span>颜色</label>
					<div class="col-xs-8">
						<input type="text" placeholder="颜色" id="color" name="color" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="image1"><span class="text-require">*</span>车辆及车牌照片</label>
					<div class="col-xs-8">
						<input type="file" placeholder="车辆及车牌照片" id="image1" />
						<input type="hidden" name="image1" id="image1-hidden" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="image2"><span class="text-require">*</span>车架号证明照片</label>
					<div class="col-xs-8">
						<input type="file" placeholder="车辆识别号码证明照片" id="image2" />
						<input type="hidden" name="image2" id="image2-hidden" />
					</div>
				</div>
			</li>
		</ul>
		
		<div class="list-group">
			<button type="button" id="save" class="list-group-item">提&nbsp;&nbsp;交</button>
		</div>
	</form>
</body>

<script type="text/javascript">
	Date.prototype.Format = function (fmt) { 
	    var o = {
	        "M+": this.getMonth() + 1, //月份 
	        "d+": this.getDate(), //日 
	        "h+": this.getHours(), //小时 
	        "m+": this.getMinutes(), //分 
	        "s+": this.getSeconds(), //秒 
	        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
	        "S": this.getMilliseconds() //毫秒 
	    };
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	    for (var k in o)
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	    return fmt;
	}
	
	function formatDate(d) {
		return new Date(d - 28800000).Format("yyyy-MM-dd hh:mm:ss");
	}
	
	function compress(id) {
	    var fileObj = document.getElementById(id).files[0];
	    if (!fileObj.type.startsWith("image")) {
	    	showWarning("只能选择图片上传！");
			$("#" + id).val("");
	    	return;
	    }
	    var reader = new FileReader();
	    reader.readAsDataURL(fileObj);
	    
        reader.onload = function(e) {
	        var image = new Image();
	        image.src = e.target.result;
	        image.onload = function() {
        		var x;
	        	if (image.width > 1000 || image.height > 1000) {
	        		// 按宽高不超过1000px等比例压缩重绘
	        		if (image.width > image.height) {
						x = image.width / 1000;
	        		} else {
	        			x = image.height / 1000;
	        		}
	        	} else {
	        		x = 1;
	        	}
	            var canvas = document.createElement('canvas');
	            var context = canvas.getContext('2d');
	            var imageWidth = image.width / x;
	            var imageHeight = image.height / x;

	            canvas.width = imageWidth;
	            canvas.height = imageHeight;

	            context.drawImage(image, 0, 0, imageWidth, imageHeight);
	            var img = canvas.toDataURL('image/jpeg');
				$("#" + id + "-hidden").val(img);
	        }
	    }
	}
	
	$("#image1").change(function () {
		compress("image1");
	});
	
	$("#image2").change(function () {
		compress("image2");
	});
	
	$("#save").click(function () {
		if ($("#plate_num").val() == '') {
			showWarning("车牌号不能为空！");
			return;
		}
		if ($("#identification_num").val() == '') {
			showWarning("车架号（车辆识别号码）不能为空！");
			return;
		}
		if ($("#identification_num").val().length != 17) {
			showWarning("车架号（车辆识别号码）格式不正确！");
			return;
		}
		if ($("#brand").val() == '') {
			showWarning("品牌型号不能为空！");
			return;
		}
		if ($("#type").val() == '') {
			showWarning("车型不能为空！");
			return;
		}
		if ($("#color").val() == '') {
			showWarning("颜色不能为空");
			return;
		}
		if ($("#image1-hidden").val() == '') {
			showWarning("请上传车辆及车牌照片！");
			return;
		}
		if ($("#image2-hidden").val() == '') {
			showWarning("请上传车架号证明图片！");
			return;
		}
		$.ajax({
			url: "${base!}/manage/car/add",
			type: "post",
			async: false,
			data: $("#add-car").serialize(),
			success: function (resp) {
				var res = eval('('+resp+')');
				if (res.code && res.code == '1') {
					showInfo("添加成功！");
					setTimeout(function () {
						window.location.href = "${base!}/client/car/index";
					}, 1500);
				} else {
					showInfo(res.message);
				}
			},
			error: function () {
				showError("添加失败，请稍后再试");
			}
		});
	});
</script>
</html>