<!doctype html>
<html>
<head>
	<#include "/common/header.html" />
	<title>停车场信息管理 - ${appName!}</title>
</head>
<body>
	<div class="panel panel-default data-panel">
		<div class="panel-heading">停车场信息管理</div>
		<div class="panel-body">
			<button class="btn btn-success" data-toggle="modal" data-target="#add" id="open-add-modal"><i class="fa fa-plus"></i>添加停车场</button>
			<button class="btn btn-primary" id="refresh"><i class="fa fa-refresh"></i>刷新</button>
			<div class="tool-right">
				<input type="text" class="form-control name" placeholder="停车场名称" />
				<select class="form-control type">
					<option value="">停车场类型</option>
					<option value="1">市政停车场</option>
					<option value="2">商业物业</option>
					<option value="3">社区物业</option>
				</select>
				<button class="btn btn-primary" id="search-btn"><i class="fa fa-search"></i>查询</button>
			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>名称</th>
					<th>类型</th>
					<th>额定车位（个）</th>
					<th>停车费（元/时）</th>
					<th>是否封顶</th>
					<th>封顶金额（元/天）</th>
					<th>地址</th>
					<th>禁用否</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody id="datagrid">
				<tr><td colspan="9"><div class="text-center">数据加载中...</div></td></tr>
			</tbody>
		</table>
		<div class="panel-footer">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li><a id="first-page" aria-label="First"><span
							aria-hidden="true">&laquo;</span>
					</a></li>
					<li><a id="previous-page" aria-label="Previous"><span
							aria-hidden="true">&lsaquo;</span>
					</a></li>
					<li><a><span id="pageNum">-</span>&nbsp;/&nbsp;<span
							id="totalPage">-</span>
					</a></li>
					<li><a id="next-page" aria-label="Next"><span
							aria-hidden="true">&rsaquo;</span>
					</a></li>
					<li><a id="last-page" aria-label="Last" id="last"><span
							aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			
				<span class="total">本页<span id="disp-num">-</span>条，共<span id="total-num">-</span>条</span>
			</nav>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="add">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">添加停车场</h4>
				</div>
				<div class="modal-body">
					<form class="form" id="useradd-form">
						<label for="account"><span class="text-require">*</span>账号</label>
						<input class="form-control" type="text" id="account" name="account" placeholder="账号" />
						<br />
						<label for="name"><span class="text-require">*</span>姓名</label>
						<input class="form-control" type="text" id="name" name="name" placeholder="姓名" />
						<br />
						<label for="password"><span class="text-require">*</span>密码</label>
						<input class="form-control" type="password" id="password" name="password" autocomplete="off" placeholder="密码" />
						<br />
						<label for="mobile">手机号码</label>
						<input class="form-control" type="text" id="mobile" name="mobile" maxlength="11" placeholder="手机号码" />
						<br />
						<label for="email"><span class="text-require">*</span>电子邮箱</label>
						<input class="form-control" type="text" id="email" name="email" autocomplete="off" placeholder="电子邮箱" />
						<br />
						<label for="province">通讯地址</label>
						<select id="province" class="form-control">
							<option value="">省/自治区/直辖市</option>
						</select>
						<select id="city" class="form-control">
							<option value="">市/自治州</option>
						</select>
						<br />
						<label for="region">&nbsp;</label>
						<select id="region" name="region" class="form-control">
							<option value="">区/县/自治县</option>
						</select>
						<br />
						<label for="address">&nbsp;</label>
						<input class="form-control" type="text" id="address" name="address" placeholder="详细地址" />
						<label for="type"><span class="text-require">*</span>用户类型</label>
						<select id="type" name="type" class="form-control">
							<option value="">请选择</option>
							<#if id?? && id == '1'>
								<option value="2">平台管理</option>
							</#if>
							<option value="3">物业管理</option>
						</select>
						<br />
						<div id="org_id_group">
							<label for="org_id"><span class="text-require">*</span>所属组织机构</label>
							<select id="org_id" name="org_id" class="form-control">
								<option value="">请选择</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" id="useradd-btn"><i class="fa fa-save"></i>保存</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="editUser">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">编辑停车场</h4>
				</div>
				<div class="modal-body">
					<form class="form" id="edit-form">
						<input type="hidden" id="eid" name="id" readonly="readonly" />
						<label for="eaccount"><span class="text-require">*</span>账号</label>
						<input class="form-control" type="text" id="eaccount" placeholder="账号" disabled="disabled" />
						<br />
						<label for="ename"><span class="text-require">*</span>姓名</label>
						<input class="form-control" type="text" id="ename" name="name" placeholder="姓名" />
						<br />
						<label for="emobile">手机号码</label>
						<input class="form-control" type="text" id="emobile" name="mobile" placeholder="手机号码" />
						<br />
						<label for="eemail"><span class="text-require">*</span>电子邮箱</label>
						<input class="form-control" type="text" id="eemail" name="email" autocomplete="off" placeholder="电子邮箱" />
						<br />
						<label for="eprovince">通讯地址</label>
						<select id="eprovince" class="form-control">
							<option value="">省/自治区/直辖市</option>
						</select>
						<select id="ecity" class="form-control">
							<option value="">市/自治州</option>
						</select>
						<br />
						<label for="eregion">&nbsp;</label>
						<select id="eregion" class="form-control">
							<option value="">区/县/自治县</option>
						</select>
						<br />
						<label for="eaddress">&nbsp;</label>
						<input class="form-control" type="text" id="eaddress" placeholder="详细地址" />
						<label for="etype"><span class="text-require">*</span>用户类型</label>
						<select id="etype" class="form-control" disabled="disabled">
							<option value="">请选择</option>
							<option value="2">平台管理</option>
							<option value="3">物业管理</option>
						</select>
						<br />
						<div id="eorg_id_group">
							<label for="eorg_id"><span class="text-require">*</span>所属组织机构</label>
							<select id="eorg_id" name="org_id" class="form-control">
								<option value="">请选择</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" id="edit-btn"><i class="fa fa-save"></i>保存</button>
				</div>
			</div>
		</div>
	</div>

	<#include "/common/alert.html" />
	
	<script type="text/javascript">
		var pageNum = 1;
		var totalPage = 0;
		var totalNum = 0;
		
		// 编辑保存
		$("#edit-btn").click(function () {
			$.ajax({
				url: "${base!}/manage/org/save",
				type: "post",
				data: $("#edit-form").serialize(),
				success: function (resp) {
					var res = eval('('+resp+')');
					if (res.code && res.code == '1') {
						showInfo("保存成功");
						$("#editUser").modal('hide');
						query(1);
					} else {
						showInfo(res.message);
					}
				},
				error: function () {
					showError("保存失败，请稍后再试");
				}
			});
		});
		
		// 初始化编辑窗口
		function edit(id) {
			$.ajax({
				url: "${base!}/manage/org/queryOne",
				type: "post",
				data: {
					"id": id
				},
				success: function (resp) {
					var res = eval('('+resp+')');
					if (res.code && res.code == '1') {
						$("#eid").val(res.data.ID);
						$("#eaccount").val(res.data.ACCOUNT);
						$("#ename").val(res.data.NAME);
						$("#emobile").val(res.data.MOBILE);
						$("#eemail").val(res.data.EMAIL);
						$("#eprovince").val(res.data.PROVINCE);
						loadRegion($("#eprovince").val(), "ecity");
						$("#ecity").val(res.data.CITY);
						loadRegion($("#ecity").val(), "eregion");
						$("#eregion").val(res.data.REGION);
						$("#eaddress").val(res.data.ADDRESS);
						$("#etype").val(res.data.TYPE);
						if (res.data.TYPE == '3') {
							$("#eorg_id_group").css("display", "block");
							$("#eorg_id").val(res.data.ORG_ID);
						} else {
							$("#eorg_id_group").css("display", "none");
							$("#eorg_id").val();
						}
					} else {
						showInfo(res.message);
					}
				},
				error: function () {
					showError("查询用户信息失败，请稍后再试");
				}
			});
		}

		// 初始化行政区划
		function loadRegion(parentId, selectorId) {
			$.ajax({
				url: '${base!}/manage/region/select',
				type: 'post',
				data: {
					"parentId": parentId
				},
				async: false,
				success: function (resp) {
					var res = eval('('+resp+')');
					var str;
					if (selectorId == "province" || selectorId == "eprovince") {
						str = "<option value=''>省/自治区/直辖市</option>";
					} else if (selectorId == "city" || selectorId == "ecity") {
						str = "<option value=''>市/自治州</option>";
					} else if (selectorId == "region" || selectorId == "eregion") {
						str = "<option value=''>区/县/自治县</option>";
					}
					for (var i = 0; i < res.data.length; i++) {
						str += "<option value='" + res.data[i].ID + "'>" + res.data[i].NAME + "</option>";
					}
					$("#" + selectorId).html(str);
				},
				error: function () {
					showError("行政区划加载失败，请稍后再试");
				}
			});
		}
		
		loadRegion("000000", "province");
		loadRegion("000000", "eprovince");
		
		$("#open-add-modal").click(function () {
			$("#account").val("");
			$("#name").val("");
			$("#password").val("");
			$("#mobile").val("");
			$("#email").val("");
			$("#province").val("");
			$("#city").val("");
			$("#region").val("");
			$("#address").val("");
			$("#type").val("");
			$("#org_id").val("");
		});
		
		// 新增保存
		$("#useradd-btn").click(function () {
			if ($("#account").val() == '') {
				showWarning("账号不能为空，请检查");
				return;
			}
			if ($("#name").val() == '') {
				showWarning("姓名不能为空，请检查");
				return;
			}
			if ($("#password").val() == '') {
				showWarning("密码不能为空，请检查");
				return;
			}
			if ($("#mobile").val() != '' && $("#mobile").val().length != 11) {
				showWarning("手机号码格式不正确，请重新输入");
				return;
			}
			if ($("#email").val() == '') {
				showWarning("电子邮箱不能为空，请检查");
				return;
			}
			var rgx = /^\w+@[a-z0-9]+\.[a-z]+$/i;
			if (!rgx.test($("#email").val())) {
				showWarning("电子邮箱格式不正确，请重新输入");
				return;
			}
			if ($("#type").val() == '') {
				showWarning("用户类型不能为空，请检查");
				return;
			}
			if ($("#type").val() == '3' && $("#org_id").val() == '') {
				showWarning("所属组织机构不能为空，请检查");
				return;
			}
			$("#password").val($.md5($("#password").val()));
			$.ajax({
				url: "${base!}/manage/user/add",
				type: "post",
				data: $("#useradd-form").serialize(),
				success: function (resp) {
					var res = eval('('+resp+')');
					if (res.code && res.code == '1') {
						showInfo("添加成功");
						$("#add").modal('hide');
						query(1);
					} else {
						showInfo(res.message);
						$("#password").val("");
					}
				},
				error: function () {
					showError("添加失败，请稍后再试");
					$("#password").val("");
				}
			})
		});

		// 添加相关监听
		$("#province").change(function () {
			$("#region").html("<option value=''>区/县/自治县</option>");
			if ($("#province") != null && $("#province").val() != '') {
				loadRegion($("#province").val(), "city");
			}
		});
		$("#city").change(function () {
			if ($("#city") != null && $("#city").val() != '') {
				loadRegion($("#city").val(), "region");
			}
		});
		
		// 编辑相关监听
		$("#eprovince").change(function () {
			$("#eregion").html("<option value=''>区/县/自治县</option>");
			if ($("#eprovince") != null && $("#eprovince").val() != '') {
				loadRegion($("#eprovince").val(), "ecity");
			}
		});
		$("#ecity").change(function () {
			if ($("#ecity") != null && $("#ecity").val() != '') {
				loadRegion($("#ecity").val(), "eregion");
			}
		});

		// 查询
		function subval(val, len) {
			return val.length > len ? (val.substr(0, len) + '...') : val;
		}
		Date.prototype.Format = function (fmt) { //author: meizz 
		    var o = {
		        "M+": this.getMonth() + 1, //月份 
		        "d+": this.getDate(), //日 
		        "h+": this.getHours(), //小时 
		        "m+": this.getMinutes(), //分 
		        "s+": this.getSeconds(), //秒 
		        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
		        "S": this.getMilliseconds() //毫秒 
		    };
		    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
		    for (var k in o)
		    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
		    return fmt;
		}
		function formatDate(d) {
			return new Date(d - 28800000).Format("yyyy-MM-dd hh:mm:ss");
		}
		function decodeType(type) {
			switch (type) {
			case "1":
				return "市政停车场";
			case "2":
				return "商业物业";
			case "3":
				return "社区物业";
			default:
				return "";
			}
		}
		function query(pageNum) {
			var name = $(".name").val();
			var type = $(".type").val();
			var pageSize = Math.floor((window.innerHeight - 207) / 40)
			$.ajax({
				url: '${base!}/manage/parkingLot/list',
				type: 'post',
				data: {
					name: name,
					type: type,
					pageNum: pageNum,
					pageSize: pageSize
				},
				success: function (resp) {
					var res = eval('('+resp+')');
					var str = "";
					if (res.data.length == 0) {
						str += '<tr><td colspan="9"><div class="text-center">暂无数据</div></td></tr>';
						pageNum = 0;
						totalPage = 0;
					} else {
						pageNum = res.pageNum;
						totalPage = Math.ceil(res.total / pageSize);
						totalNum = res.total;
						for (var i = 0; i < res.data.length; i++) {
							str += '<tr>';
							str += '<td title="' + res.data[i].NAME + '">' + subval(res.data[i].NAME, 16) + '</td>';
							str += '<td>' + decodeType(res.data[i].TYPE) + '</td>';
							str += '<td>' + res.data[i].PLACE_NUM + '</td>';
							str += '<td>' + parseFloat(res.data[i].PRICE).toFixed(2) + '</td>';
							str += '<td>' + (res.data[i].CAPPED=='0'?'否':'是') + '</td>';
							if (res.data[i].CAPPED_PRICE != undefined) {
								str += '<td>' + parseFloat(res.data[i].CAPPED_PRICE).toFixed(2) + '</td>';	
							} else {
								str += '<td>0.00</td>';
							}
							str += '<td title="' + (res.data[i].REGION + res.data[i].ADDRESS) + '">' + subval((res.data[i].REGION + res.data[i].ADDRESS), 20) + '</td>';
// 							str += '<td>' + formatDate(res.data[i].UPDATE_TIME) + '</td>';
							str += '<td>' + (res.data[i].DISABLED=='0'?'否':'是') + '</td><td>';
							str += '<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#editUser" onclick="edit(\'' + res.data[i].ID + '\')">编辑</button>';
							if (res.data[i].DISABLED == '0') {
								str += '<button class="btn btn-xs btn-warning" onclick="disable(\'' + res.data[i].ID + '\')">禁用</button>';	
							} else {
								str += '<button class="btn btn-xs btn-success" onclick="enable(\'' + res.data[i].ID + '\')">启用</button>';
							}	
							str += '<button class="btn btn-xs btn-danger" onclick="del(\'' + res.data[i].ID + '\')">删除</button>';
							str += '</td></tr>';
						}
					}
					$("#datagrid").html(str);
					$("#pageNum").text(pageNum);
					$("#totalPage").text(totalPage);
					$("#total-num").text(totalNum);
					$("#disp-num").text(res.data.length);
				},
				error: function () {
					showError("查询失败，请稍后再试");
				}
			});
		}
		query(1);
		
		function disable(id) {
			$.ajax({
				url: "${base!}/manage/org/disable",
				type: "post",
				async: false,
				data: {
					"id": id
				},
				success: function (resp) {
					var res = eval('('+resp+')');
					if (res.code && res.code == '1') {
						showInfo("禁用成功");
						query(1);
					} else {
						showInfo(res.message);
					}
				},
				error: function () {
					showError("禁用失败，请稍后再试");
				}
			});
		}
		
		function enable(id) {
			$.ajax({
				url: "${base!}/manage/org/enable",
				type: "post",
				async: false,
				data: {
					"id": id
				},
				success: function (resp) {
					var res = eval('('+resp+')');
					if (res.code && res.code == '1') {
						showInfo("启用成功");
						query(1);
					} else {
						showInfo(res.message);
					}
				},
				error: function () {
					showError("启用失败，请稍后再试");
				}
			});
		}
		
		function del(id) {
			showConfirm("确认删除？", function () {
				$.ajax({
					url: "${base!}/manage/org/del",
					type: "post",
					async: false,
					data: {
						"id": id
					},
					success: function (resp) {
						var res = eval('('+resp+')');
						if (res.code && res.code == '1') {
							showInfo("删除成功");
							query(1);
						} else {
							showInfo(res.message);
						}
					},
					error: function () {
						showError("删除失败，请稍后再试");
					}
				});
			});
		}

		$("#refresh").click(function () {
			query(1);
		});
		
		// 搜索
		$("#search-btn").click(function () {
			query(1);
		});
		
		// 分页
		$("#first-page").click(function () {
			if (totalPage > 0) {
				pageNum = 1;
				query(1);
			}
		});
		$("#previous-page").click(function () {
			if (totalPage > 0) {
				if (pageNum > 1) {
					pageNum--;	
				}
				query(pageNum);
			}
		});
		$("#next-page").click(function () {
			if (totalPage > 0) {
				if (pageNum < totalPage) {
					pageNum++;
				}
				query(pageNum);
			}
		});
		$("#last-page").click(function () {
			if (totalPage > 0) {
				pageNum = totalPage;
				query(totalPage);
			}
		});
	</script>
</body>
</html>