<!doctype html>
<html>
<head>
    <#include "/common/header.html" />
    <title>${appName!} - ${appDesc!}</title>
    <style type="text/css">
    	#add-place label {
   		    line-height: 21px;
    		margin-bottom: 0;
    		padding-top: 0;
    		padding-bottom: 0;
    	}
    	
    	#add-place input,
    	#add-place select {
    		background-color: #fff;
    		border: none;
    		width: 100%;
    	}
    	
    	#add-place button {
    		font-weight: bold;
    		color: #000;
    		text-align: center;
    	}
    	
    	.tips {
    		line-height: 1.8em;
    	}
    </style>
</head>

<body>
	<#include "${base!}/common/pageHeader.html" />
	<#include "${base!}/common/alert.html" />
	
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">编辑车位</h4>
		</li>
	</ul>
	
	<form id="add-place">
		<input type="hidden" name="id" value="${ID!}" />
		<input type="hidden" name="owner_type" value="2" />
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="province"><span class="text-require">*</span>所在停车场</label>
					<div class="col-xs-8">
						<select id="province" name="province">
							<option value="">省/自治区/直辖市</option>
						</select>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="city">&nbsp;</label>
					<div class="col-xs-8">
						<select id="city" name="city">
							<option value="">市/自治州</option>
						</select>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="region">&nbsp;</label>
					<div class="col-xs-8">
						<select id="region" name="region">
							<option value="">区/县/自治县</option>
						</select>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="lot_id"></label>
					<div class="col-xs-8">
						<select name="lot_id" id="lot_id">
							<option value="">停车场</option>
						</select>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="place_code"><span class="text-require">*</span>车位编号</label>
					<div class="col-xs-8">
						<input type="text" placeholder="车位编号" id="place_code" name="place_code" value="${PLACE_CODE!}" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="trade_type"><span class="text-require">*</span>交易类别</label>
					<div class="col-xs-8">
						<select name="trade_type" id="trade_type">
							<option value="">请选择</option>
							<option value="1">出租</option>
							<option value="2">出售</option>
						</select>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="trade_title"><span class="text-require">*</span>车位简介</label>
					<div class="col-xs-8">
						<input type="text" placeholder="车位简介" id="trade_title" name="trade_title" value="${TRADE_TITLE!}" />
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<label class="col-xs-4" for="image"><span class="text-require">*</span>车位照片</label>
					<div class="col-xs-8">
						<input type="file" placeholder="车位照片" id="image" />
						<input type="hidden" name="image" id="image-hidden" />
					</div>
				</div>
			</li>
		</ul>
		
		<div class="list-group">
			<button type="button" id="save" class="list-group-item">提&nbsp;&nbsp;交</button>
		</div>
	</form>
</body>

<script type="text/javascript">
	Date.prototype.Format = function (fmt) { 
	    var o = {
	        "M+": this.getMonth() + 1, //月份 
	        "d+": this.getDate(), //日 
	        "h+": this.getHours(), //小时 
	        "m+": this.getMinutes(), //分 
	        "s+": this.getSeconds(), //秒 
	        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
	        "S": this.getMilliseconds() //毫秒 
	    };
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	    for (var k in o)
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	    return fmt;
	}
	
	function formatDate(d) {
		return new Date(d - 28800000).Format("yyyy-MM-dd hh:mm:ss");
	}
	
	// 初始化行政区划
	function loadRegion(parentId, selectorId) {
		$.ajax({
			url: '${base!}/manage/region/select',
			type: 'post',
			data: {
				"parentId": parentId
			},
			async: false,
			success: function (resp) {
				var res = eval('('+resp+')');
				var str;
				if (selectorId == "province" || selectorId == "eprovince") {
					str = "<option value=''>省/自治区/直辖市</option>";
				} else if (selectorId == "city" || selectorId == "ecity") {
					str = "<option value=''>市/自治州</option>";
				} else if (selectorId == "region" || selectorId == "eregion") {
					str = "<option value=''>区/县/自治县</option>";
				}
				for (var i = 0; i < res.data.length; i++) {
					str += "<option value='" + res.data[i].ID + "'>" + res.data[i].NAME + "</option>";
				}
				$("#" + selectorId).html(str);
			},
			error: function () {
				showError("行政区划加载失败，请稍后再试");
			}
		});
	}
	function loadLot(region) {
		$.ajax({
			url: '${base!}/manage/parkingLot/select',
			type: 'post',
			data: {
				"region": region
			},
			async: false,
			success: function (resp) {
				var res = eval('('+resp+')');
				var str = "<option value=''>停车场</option>";
				for (var i = 0; i < res.data.length; i++) {
					str += "<option value='" + res.data[i].ID + "'>" + res.data[i].NAME + "</option>";
				}
				$("#lot_id").html(str);
			},
			error: function () {
				showError("停车场加载失败，请稍后再试");
			}
		});
	}
	$("#province").change(function () {
		$("#city").html("<option value=''>市/自治州</option>");
		$("#region").html("<option value=''>区/县/自治县</option>");
		$("#lot_id").html("<option value=''>停车场</option>");
		if ($("#province") != null && $("#province").val() != '') {
			loadRegion($("#province").val(), "city");
		}
	});
	$("#city").change(function () {
		$("#region").html("<option value=''>区/县/自治县</option>");
		$("#lot_id").html("<option value=''>停车场</option>");
		if ($("#city") != null && $("#city").val() != '') {
			loadRegion($("#city").val(), "region");
		}
	});
	$("#region").change(function () {
		$("#lot_id").html("<option value=''>停车场</option>");
		if ($("#region") != null && $("#region").val() != '') {
			loadLot($("#region").val());
		}
	});
	
	$(function () {
		loadRegion("000000", "province");
		$("#province").val('${PROVINCE!}');
		loadRegion($("#province").val(), "city");
		$("#city").val('${CITY!}');
		loadRegion($("#city").val(), "region");
		$("#region").val('${REGION!}');
		loadLot($("#region").val());
		$("#lot_id").val('${LOT_ID!}');
		$("#trade_type").val('${TRADE_TYPE!}');
	});
	
	function compress(id) {
	    var fileObj = document.getElementById(id).files[0];
	    if (!fileObj.type.startsWith("image")) {
	    	showWarning("只能选择图片上传！");
			$("#" + id).val("");
	    	return;
	    }
	    var reader = new FileReader();
	    reader.readAsDataURL(fileObj);
	    
        reader.onload = function(e) {
	        var image = new Image();
	        image.src = e.target.result;
	        image.onload = function() {
        		var x;
	        	if (image.width > 1000 || image.height > 1000) {
	        		// 按宽高不超过1000px等比例压缩重绘
	        		if (image.width > image.height) {
						x = image.width / 1000;
	        		} else {
	        			x = image.height / 1000;
	        		}
	        	} else {
	        		x = 1;
	        	}
	            var canvas = document.createElement('canvas');
	            var context = canvas.getContext('2d');
	            var imageWidth = image.width / x;
	            var imageHeight = image.height / x;

	            canvas.width = imageWidth;
	            canvas.height = imageHeight;

	            context.drawImage(image, 0, 0, imageWidth, imageHeight);
	            var img = canvas.toDataURL('image/jpeg');
				$("#" + id + "-hidden").val(img);
	        }
	    }
	}
	
	$("#image").change(function () {
		compress("image");
	});
	
	$("#save").click(function () {
		if ($("#lot_id").val() == '') {
			showWarning("所在停车场不能为空！");
			return;
		}
		if ($("#place_code").val() == '') {
			showWarning("车位编号不能为空！");
			return;
		}
		if ($("#trade_type").val() == '') {
			showWarning("交易类别不能为空！");
			return;
		}
		if ($("#trade_title").val() == '') {
			showWarning("车位简介不能为空！");
			return;
		}
		if ($("#image-hidden").val() == '') {
			showWarning("请上传车位照片！");
			return;
		}
		$.ajax({
			url: "${base!}/manage/parkingPlace/save",
			type: "post",
			async: false,
			data: $("#add-place").serialize(),
			success: function (resp) {
				var res = eval('('+resp+')');
				if (res.code && res.code == '1') {
					showInfo("修改成功！");
					setTimeout(function () {
						window.location.href = "${base!}/client/place/index";
					}, 1500);
				} else {
					showInfo(res.message);
				}
			},
			error: function () {
				showError("修改失败，请稍后再试");
			}
		});
	});
</script>
</html>