<!doctype html>
<html>
<head>
    <#include "/common/header.html" />
    <title>${appName!} - ${appDesc!}</title>
    <style>
    	#status-para {
    		padding: 3px 0;
    		color: gray;
    	}
    </style>
</head>

<body>
	<#include "${base!}/common/pageHeader.html" />
	<#include "${base!}/common/alert.html" />
	
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">我的车位</h4>
			<#if hasPlace??>
				<#if hasPlace != '1'>
					<p class="list-group-item-text" id="status-para">
						您还没有添加车位，请先添加
					</p>
				</#if>
			</#if>
		</li>
	</ul>
	
	<div class="list-group">
		<a class="list-group-item" href="${base!}/client/place/addPlace">添加车位</a>
	</div>
	
	<#if places??>
		<ul class="list-group" id="place-list"></ul>
	</#if>
</body>

<script type="text/javascript">
	Date.prototype.Format = function (fmt) { //author: meizz 
	    var o = {
	        "M+": this.getMonth() + 1, //月份 
	        "d+": this.getDate(), //日 
	        "h+": this.getHours(), //小时 
	        "m+": this.getMinutes(), //分 
	        "s+": this.getSeconds(), //秒 
	        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
	        "S": this.getMilliseconds() //毫秒 
	    };
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
	    for (var k in o)
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
	    return fmt;
	}
	
	function formatDate(d) {
		return new Date(d - 28800000).Format("yyyy-MM-dd hh:mm:ss");
	}
	
	function putOn(id) {
		$.ajax({
			url: '${base!}/manage/parkingPlace/putOn',
			type: 'post',
			data: {
				"id": id
			},
			async: false,
			success: function (resp) {
				var res = eval('('+resp+')');
				if (res.code && res.code == '1') {
					showInfo("操作成功！");
					setTimeout(function () {
						window.location.href = "${base!}/client/place/index";
					}, 1500);
				}
			},
			error: function () {
				showError("操作失败，请稍后再试");
			}
		});
	}
	
	function putOff(id) {
		$.ajax({
			url: '${base!}/manage/parkingPlace/putOff',
			type: 'post',
			data: {
				"id": id
			},
			async: false,
			success: function (resp) {
				var res = eval('('+resp+')');
				if (res.code && res.code == '1') {
					showInfo("操作成功！");
					setTimeout(function () {
						window.location.href = "${base!}/client/place/index";
					}, 1500);
				}
			},
			error: function () {
				showError("操作失败，请稍后再试");
			}
		});
	}
	
	function complete(id) {
		showConfirm("确认交易完成？", function () {
			$.ajax({
				url: '${base!}/manage/parkingPlace/complete',
				type: 'post',
				data: {
					"id": id
				},
				async: false,
				success: function (resp) {
					var res = eval('('+resp+')');
					if (res.code && res.code == '1') {
						showInfo("操作成功！");
						setTimeout(function () {
							window.location.href = "${base!}/client/place/index";
						}, 1500);
					}
				},
				error: function () {
					showError("操作失败，请稍后再试");
				}
			});
		});
	}
	
	function decodeTrade(trade) {
		switch (trade) {
		case "1":
			return "交易中";
		case "2":
			return "已成交";
		case "0":
			return "未挂牌";
		default:
			return "";
		}
	}
	
	var places = '${places!}';
	if (places != '') {
		var list = eval(places);
		var str = '';
		for (var i = 0; i < list.length; i++) {
			str += '<li class="list-group-item">';
			str += '<span style="margin-right: 5px;" class="label label-primary">' + (list[i].TRADE_TYPE=='1'?'出租':'出售') + '</span>';
			if (list[i].VERIFIED=='0') {
				str += '<span style="margin-right: 10px;" class="label label-warning">待审核</span>';
			} else if (list[i].VERIFIED=='1') {
				str += '<span style="margin-right: 10px;" class="label label-success">' + decodeTrade(list[i].TRADE) + '</span>';
			} else if (list[i].VERIFIED=='2') {
				str += '<span style="margin-right: 10px;" class="label label-danger">已驳回</span>';
			}
			str += '<b style="font-size: 1.2em; line-height: 1.5em;">' + ((list[i].TRADE_TITLE == undefined)?'无标题':list[i].TRADE_TITLE) + '</b>';
			str += '<div style="line-height: 1.5em;">所在停车场：' + list[i].LOT_NAME + '</div>';
			str += '<div style="line-height: 1.5em;">车位编号：' + list[i].PLACE_CODE + '</div>';
			str += '<div style="line-height: 1.5em;">添加时间：' + formatDate(list[i].CREATE_TIME) + '</div>';
			if (list[i].VERIFIED == '1') {
				if (list[i].TRADE == '0') {
					str += '<button class="btn btn-sm btn-success" onclick="putOn(\'' + list[i].ID + '\')"><i class="fa fa-upload"></i>挂牌</button>';
				} else if (list[i].TRADE == '1') {
					str += '<button class="btn btn-sm btn-danger" onclick="putOff(\'' + list[i].ID + '\')"><i class="fa fa-download"></i>取消挂牌</button>';
					str += '&nbsp;<button class="btn btn-sm btn-success" onclick="complete(\'' + list[i].ID + '\')"><i class="fa fa-check"></i>交易完成</button>';
				}
			} else if (list[i].VERIFIED == '2') {
				str += '<a class="btn btn-sm btn-primary" href="${base!}/client/place/edit?id=' + list[i].ID + '"><i class="fa fa-pencil"></i>重新提交</a>';
			}
			str += '</li>';
		}
		$("#place-list").html(str);
	}
</script>
</html>