<!doctype html>
<html>
<head>
    <#include "/common/header.html" />
    <title>${appName!} - ${appDesc!}</title>
</head>

<body>
	<#include "${base!}/common/pageHeader.html" />
	
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="list-group-item-heading">欢迎您，${username!}</h4>
			<p class="list-group-item-text"></p>
		</li>
	</ul>
	
	<div class="list-group">
		<a class="list-group-item" href="${base!}/client/parking/index"><i class="fa fa-pencil-square"></i>预约停车</a>
		<a class="list-group-item" href="${base!}/client/car/index"><i class="fa fa-car"></i>我的车辆</a>
	</div>
	
	<div class="list-group">
		<a class="list-group-item" href="${base!}/client/place/market"><i class="fa fa-globe"></i>车位市场</a>
		<a class="list-group-item" href="${base!}/client/place/index"><i class="fa fa-road"></i>我的车位</a>
	</div>
	
	<div class="list-group">
		<a class="list-group-item" href="${base!}/client/user/auth"><i class="fa fa-id-card"></i>实名认证</a>
		<a class="list-group-item" href="${base!}/client/user/edit"><i class="fa fa-user"></i>修改个人信息</a>
		<a class="list-group-item" href="${base!}/client/user/reset"><i class="fa fa-key"></i>重置密码</a>
	</div>
</body>
</html>